In [8]:
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
#C:\Users\user\Documents\AFRICA DATA SCHOOL
VG=pd.read_csv(path)
print(VG.head(10))

#print(path.head(10))

   Rank                       Name Platform    Year         Genre Publisher
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo  \
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31

Display the shape and basic information about the dataset.

In [9]:
#Display the shape and basic information about the dataset.
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#print(VG.head(10))
print("Shape of the dataset:", VG.shape)

# display basic information about the dataset
print("\nInformation about the dataset:")
print(VG.info())

Shape of the dataset: (16598, 11)

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

How to Check for missing data and handle it appropriately.

In [12]:
#Display the shape and basic information about the dataset.
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#print(VG.head(10))
print("Shape of the dataset:", VG.shape)

# display basic information about the dataset
print("\nInformation about the dataset:")
print(VG.info())
print("Number of missing values in each column:")
print(VG.isna().sum())
VG.dropna(inplace=True)  # drop rows with missing values
VG.fillna(0, inplace=True)  # fill missing values with 0

Shape of the dataset: (16598, 11)

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None
Number of missing values in each column:
Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

Display the top 5 video games by global sale

In [2]:
#Display the shape and basic information about the dataset.
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#print(VG.head(10))
#print("Shape of the dataset:", VG.shape)

# display basic information about the dataset
#print("\nInformation about the dataset:")
#print(VG.info())
#print("Number of missing values in each column:")
#print(VG.isna().sum())
#VG.dropna(inplace=True)  # drop rows with missing values
#VG.fillna(0, inplace=True)  # fill missing values with 0
VG_sorted = VG.sort_values(by="Global_Sales", ascending=False)
top_5 = VG_sorted.head(5)
print(top_5[["Rank", "Name", "Platform", "Global_Sales"]])

   Rank                      Name Platform  Global_Sales
0     1                Wii Sports      Wii         82.74
1     2         Super Mario Bros.      NES         40.24
2     3            Mario Kart Wii      Wii         35.82
3     4         Wii Sports Resort      Wii         33.00
4     5  Pokemon Red/Pokemon Blue       GB         31.37

Calculate the total sales in North America for the 'Action' genre.

In [3]:
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)

# Filter the DataFrame to include only the 'Action' genre
action_VG = VG[VG['Genre'] == 'Action']

# Calculate the total sales in North America for the 'Action' genre
total_sales_na = action_VG['NA_Sales'].sum()

# Display the total sales in North America for the 'Action' genre
print("Total sales in North America for the 'Action' genre: ", total_sales_na)

Total sales in North America for the 'Action' genre:  877.83

Find the top 3 publishers by global sales.

In [4]:
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#####
# Group the DataFrame by publisher and sum the global sales for each publisher
publisher_sales = VG.groupby('Publisher')['Global_Sales'].sum()

# Sort the resulting Series by global sales in descending order
sorted_sales = publisher_sales.sort_values(ascending=False)

# Display the top 3 publishers by global sales
top_3_publishers = sorted_sales.head(3)
print(top_3_publishers)

Publisher
Nintendo           1786.56
Electronic Arts    1110.32
Activision          727.46
Name: Global_Sales, dtype: float64

Calculate the average sales in Europe for the 'Shooter' genre.

In [5]:
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#####
# Filter the DataFrame to include only the 'Shooter' genre
shooter_VG = VG[VG['Genre'] == 'Shooter']

# Calculate the average sales in Europe for the 'Shooter' genre
avg_sales_eu = shooter_VG['EU_Sales'].mean()

# Display the average sales in Europe for the 'Shooter' genre
print("Average sales in Europe for the 'Shooter' genre: ", avg_sales_eu)

Average sales in Europe for the 'Shooter' genre:  0.2391374045801527

Find the game with the highest sales in Japan in the 'Sports' genre.

In [6]:
import pandas as pd
path=r'C:\Users\user\Documents\AFRICA DATA SCHOOL\vgsales.csv'
VG=pd.read_csv(path)
#####
# Filter the DataFrame to include only the 'Sports' genre
sports_VG = VG[VG['Genre'] == 'Sports']

# Sort the resulting DataFrame by Japanese sales in descending order and display the top row
highest_sales_jp = sports_VG.sort_values(by=['JP_Sales'], ascending=False).iloc[0]
print("Game with the highest sales in Japan in the 'Sports' genre: ", highest_sales_jp['Name'])

Game with the highest sales in Japan in the 'Sports' genre:  Wii Sports